* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.wrap{
    margin: auto;
    width: 1200px;
    height: 2000px;
}
.join-menu{
    margin: auto;
    text-align: center;
    margin-bottom: 2%;
}
.join-menu span{
  font-size: 8px;
  margin-left: 45%;
}
header{
    height: 10%;
    width: 100%;
}

section{
    height: 80%;
    width: 100%;
    
}
footer{
    height: 10%;
    width: 100%;
}
.join-form{
    margin: auto;
}

.join-table{
    margin: auto;
    border-top: 2px solid black;
    border-spacing: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    border-spacing: 20px;
}
.join-table th{
    width: 190px;
}

.right-span::after{
    position: relative;
    content: " *";
    width: 10px;
    height: 10px;
   color: lightcoral;
}
.m-td{
    width: 300px;
}
.text-box{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid grey;
}
.join-table a{
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    
}
.overlap-button{
    color:lightcoral;
    border: 1px solid lightcoral;
    padding: 8px 24px;
}
input[type=radio]{
    margin-left: 15px;
    display: none;
}
.sex-label{
    margin-right: 30px;
}
.sex-label::before{
    content: " ";
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid lightcoral;
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
}
.id-check-button{
    position: relative;
    right: -320px;
    top: 30px;
}
.join-button{
    display: block;
    position: relative;
    left: 450px;
    width: 350px;
    height: 50px;
    background-color:lightcoral;
    border: 0px;
    color: white;
    font-size:15px;
    font-weight: 800;
    cursor: pointer;
}
.all-agreement-text{
    font-size: 18px;
    font-weight: 800;
}
.notice-text{
    font-size: 11px;
    color: coral;
}
.certification-button{
    border: 1px solid gray;
    color: gray;
    padding: 8px 5px;
}
.left-span::before{
    content: "*";
}

.left-span{
    font-size: 10px;
}

.id-span , .pwd-span ,.pwd-check-span {
    display: none;
}

input[type=radio]:checked + .sex-label::before{
    background-color: coral;
}


.agreement-text-checkbox::before{
content: "  ";
display: inline-block;
width: 20px;
height: 20px;
border-radius: 15px;
border: 2px solid lightcoral;
margin-right: 15px;
position: relative;
top: 5px;
background-color: beige;
}

.necessary::after{
    content: "(필수)";
    margin-left: 5px;
    font-weight: 700;
    font-size: 15px;
    color: salmon
}
.birthday{
    float: left;
    width: 98px;
    height: 40px;
    border:1px solid gray;
    text-align: center;
}
.YYYY{
    border-right: 0;
    border-top-left-radius: 3px;
}

.YYYY::after{
    content: "/";
    color: black;
}
.MM{
    border-left: 0;
    border-right: 0;
}
.DD{
    border-left: 0;
}