*{
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.join-form{
    width: 470px;
    margin: auto;
    margin-top: 100px;
}
.text-join{
    font-size: 1.2em;
    font-weight: 900;
    width: 80px;
    margin: auto;
    margin-bottom: 50px;
}

.join-text{
    width: 100px;
    margin-top: 5px;
    font-size:13px ;
    font-weight:400;
}
.id:hover{
    border: 1px solid gray;
}
.join-table{
    width: 100%;
    border-spacing: 10px;
}
.join-table td{
    height: 40px;
}
.text{
width: 100%;
height: 100%;
border:1px solid #C4C4C4;
}

.warning-massege{
    font-size: 11px;
    padding-left: 120px;
    height: 10px;
    margin-bottom: 10px;
    font-weight: 800;
}


.button{
width: 100%;
height: 100%;
color: #3493E5;
border: 1px solid #3493E5;
background-color: white;
border-radius: 5px;
font-weight: 900;
cursor: pointer;
}
.button:hover{
    border: 1px solid salmon;
    color: salmon;
}
.id{
    color: #C4C4C4;
    width: 100%;
    height: 100%;
    border: 1px solid red;  
}
.id-warning-massege{
    color: red;
}
.birthDay{
    color: gray;
    text-align: center;
}
.all-areement{
    margin-top: 50px;
    border: 2px solid black;
    width: 100%;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 15px;
}


.areement{
    display: flex;
    height: 30px;
    font-size: 13px;
    font-weight: bold;   
    align-items: center;
}


.order-info{
    margin-top: 20px;
    position: relative;
    top: 15px;
    left:-180px;
    font-size: 8px;
    color: #3493E5;
    text-align: left;
  
}
.show{
    font-size: 9px;
    font-weight: 900;
    color: #C4C4C4;
    position: relative;
    width: 80px;
}

/**************div 양쪽 끝 정렬 ***************/
.agreement-div{
    display: flex;
    justify-content :space-between
}

.sms-email-areement label{
    margin-left: 5px;
    position: relative;
    top:4px;
    font-size: 12px;
    font-weight: 800;
}

/**************체크박스 변경***************/

input[type=checkbox]{
    position: relative;
}


label{
    width: 100%;
}

.areement-check::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #C4C4C4;
    position: relative;
    top:-999px;
    right: 10px;
}

.all-areement-checkbox::after{
    position: relative;
    right: -220px;
    top: -1000px;
}

.all-areement-text{
    font-weight: 900;
}

input[type=checkbox]{
    position: relative;
    bottom: -999px;
}

.mini_checkbox::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #C4C4C4;
    position: relative;
    top: -993px;
   
}

.sms-checkbox{
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

/**************************************/



/*------------ footer ---------------*/

.footer{
    margin-top: 100px;
    width: 100%;
    height:70px;
    background-color: black;
}

.footer-text{
    color: #C4C4C4;
}

.footer-sinsa{
    width: 220px;
    margin-left: 50px;
    text-align: center;
    font-weight: 900;
    float: left;
}

.footer-copy{
    float: left;
    padding-top: 20px;
    font-size: 8px;
}

/*--------------header-------------*/
.header-text{
    margin-left: 80px;
    width: 70%;
    margin-top: 25px;
}
.nemo{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    left: 90%;
    top: 4%;
}
.nemo:hover{
    transform:scale(2)
}
.menu-text{
    font-weight: 900;
    margin-top: 15px;
    font-size: 11px;
}
.join-button{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 900;
    color: white;
    background: linear-gradient(to right, #3493E5, #EC6EAD);
    border: 0ch;
    cursor: pointer;
}

.join-button:hover{
    background: #EC6EAD;
}
input[type=radio]{
    background-color: #3493E5;
}

